@{
  ViewData["Title"] = "DiplomaticCake";
}

<div class="uk-text-center uk-card-body uk-animation-scale-up uk-transform-origin-top-center">
  <h1 class="uk-heading-large uk-heading-divider">Ledger</h1>
  <div>
    <a asp-area="" asp-controller="Ledger" asp-action="Workbooks">
      <span title="list of workbook" uk-icon="icon: folder; ratio: 3"></span>
    </a>
  </div>
</div>
