<section>
  <mat-card class="kind-card">
    <mat-card-title>title</mat-card-title>
    <mat-card-subtitle>sub-title</mat-card-subtitle>
    <mat-card-content>
      <!--todo-->
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button mat-button>
        <mat-icon>share</mat-icon>
      </button>
    </mat-card-actions>
    <mat-card-footer>
      <p class="kind-paragraph-padding">footer</p>
    </mat-card-footer>
  </mat-card>
</section>
