@{
  ViewData["Title"] = "MacaroonApp";
}

<div class="uk-text-center">
  <h1 class="uk-heading-large">Home</h1>
  <p>
    <a asp-area="" asp-controller="Home" asp-action="Uploaded">
      <span title="list of uploaded files" uk-icon="icon: album; ratio: 4"></span>
    </a>
  </p>
</div>
