@{
  ViewData["Title"] = "DiplomaticCake";
}

<div class="uk-text-center uk-card-body uk-animation-scale-up uk-transform-origin-top-center">
  <h1 class="uk-heading-large uk-heading-divider">Home</h1>
  <div>
    <a asp-area="" asp-controller="Home" asp-action="Uploaded">
      <span title="to select one of the files loaded into the system" uk-icon="icon: album; ratio: 3"></span>
    </a>
  </div>
</div>
